@import "../../styles.scss";

.trade-books {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    justify-content: center;
    height: 100px;
    background: $dark-blue;

    @include media("tablet") {
      height: 140px;
    }

    @include media("desktop-wide") {
      height: 160px;
    }

    &__profile-pic {
      position: relative;
      bottom: -40px;
      height: 80px;
      width: 80px;

      background-repeat: no-repeat;
      background-size: cover;
      border: 5px solid #ffffff;
      border-radius: 100%;

      @include media("tablet") {
        height: 100px;
        width: 100px;
        bottom: -60px;
      }

      @include media("desktop-wide") {
        bottom: -80px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 60px 24px 40px 24px;
    gap: 12px;

    @include media("mobile") {
      justify-content: center;
    }

    @include media("tablet") {
      flex-direction: row;
    }



    &__books {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      padding: 16px;
      width: 100%;

      @include media("mobile") {
        width: 345px;
      }

      @include media("tablet") {
        padding: 16px 32px;
      }

      @include media("desktop") {
        width: 824px;
      }

      &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4px;

        &__title {
          font-weight: 700;
          font-size: 16px;
          line-height: 33px;
          color: $black;
          font-family: $poppins;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        margin: 12px 0;

        @include media("desktop") {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: 16px;
        }

        &__empty {
          font-family: $poppins;
          font-size: 12px;
          line-height: 24px;
          color: $gray;
          padding: 0 8px;
        }
      }
    }
  }
}
