@import "../../styles.scss";

.home {
  display: flex;
  flex-direction: column;
  &__container {
    flex-grow: 1;

    &__head {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      background: $white;
      color: $black;
      padding: 32px 24px;
      font-family: $poppins;

      @include media("tablet") {
        padding: 48px 32px;
      }

      &__pre-title {
        color: $blue;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 12px;
      }

      &__title {
        color: $black;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        padding-bottom: 20px;
      }

      &__subtitle {
        color: $gray-dark;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
      }

      &__button {
        align-self: center;
        background: $dark-blue;
        color: $white;
        text-decoration: none;
        width: max-content;
        padding: 9px 14px;
        border-radius: 6px;
        font-weight: 800;
        font-size: 16px;
        line-height: 18px;
        border: none;
      }

      &__no-auth {
        margin-bottom: 100px;
      }
    }

    &__content {
      padding: 32px 24px;

      @include media("tablet") {
        padding: 48px 32px;
      }

      @include media("desktop") {
        width: 960px;
        margin: auto;
      }
    }

    &__stats {
      padding: 32px 24px;
      @include media("tablet") {
        width: 680px;
        margin: auto;
        padding: 48px 32px;
      }

      &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 26px;
        margin-bottom: 24px;
        text-align: center;
        font-family: $poppins;
      }

      &__user-stats {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        color: $black;
        width: min-width;
        font-size: 14px;
        line-height: 22px;
        font-family: $poppins;
        text-align: center;

        &__value {
          padding: 8px 0;
          font-weight: 600;
          font-size: 18px;
        }
      }

      &__list {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        font-family: $lora;

        @include media("tablet") {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        &__stat {
          display: flex;
          flex-direction: column;
          background: $yellow;
          padding: 24px 16px;
          border-radius: 14px;
          color: $black;
          text-align: center;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

          &__value {
            font-weight: bold;
            font-size: 28px;
            color: $dark-blue;
          }

          &__title {
            margin-bottom: 8px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
