@import "../../styles.scss";

.home {
  display: flex;
  flex-direction: column;
  &__container {
    flex-grow: 1;

    &__head {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      background: #ffbf59;
      height: 248px;
      color: $black;
      padding: 24px;

      &__title {
        font-size: 32px;
        font-weight: 600;
      }

      &__subtitle {
        font-size: 18px;
        font-weight: normal;
      }

      &__button {
        margin-top: 12px;
        margin-bottom: 20px;
        align-self: center;
        background: $black;
        color: $white;
        text-decoration: none;
        width: max-content;
        padding: 12px 32px;
        border-radius: 5px;
        font-size: 14px;
        border: none;
      }
    }

    &__content {
      padding: 32px 24px;
      text-align: center;

      @include media("tablet") {
        padding: 64px 24px;
      }

      @include media("desktop") {
        width: 960px;
        margin: auto;
      }

      &__title {
        font-size: 22px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 12px;
      }

      &__subtitle {
        font-size: 16px;
        font-weight: normal;
        color: $gray-dark;
        margin-bottom: 32px;
        margin-top: 8px;

        @include media("tablet") {
          padding: 0px 48px;
        }
      }

      &__features {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__feature {
          display: flex;
          flex-direction: column;

          @include media("tablet") {
            flex-direction: row;
            gap: 24px;
          }

          &--reverse {
            @include media("tablet") {
              flex-direction: row-reverse;
            }
          }

          &__container {
            display: flex;
            flex-direction: column;

            &__title {
              font-size: 20px;
              margin-top: 0;
              margin-bottom: 8px;
              text-align: left;
            }

            &__description {
              font-size: 16px;
              text-align: left;
              margin: 0 0 16px 0;
              color: $gray-dark;
            }
          }

          &__img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      &__stats {
        @include media("tablet") {
          width: 680px;
          margin: auto;
        }


        &__title {
          font-size: 22px;
          font-weight: 600;
          margin-top: 40px;
          margin-bottom: 24px;
        }

        &__list {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(2, minmax(0, 1fr));

          @include media("tablet") {
            grid-template-columns: repeat(4, minmax(0, 1fr));
          }

          &__stat {
            display: flex;
            flex-direction: column;
            background: #ffbf59;
            padding: 24px 16px;
            border-radius: 10px;
            color: $black;
            &__value {
              font-weight: bold;
              font-size: 30px;
              margin-bottom: 4px;
            }

            &__title {
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
