@import "../../styles.scss";

.text-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 360px 30px 360px;

    &__header {
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-family: $poppins;
    }

    &__title {
        text-align: left;
        font-weight: bold;
        font-family: $poppins;
    }

    &__subtitle {
        text-align: left;
        padding-left: 30px;
        font-family: $lora;
    }

    &__text {
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-family: $lora;
    }

}

#text-list {
    padding-left: 30px;
    font-family: $lora;
    text-align: left;
}

