@import "../../styles.scss";

.header {
  display: flex;
  flex-direction: column;
  color: $white;
  background: $black;
  padding: 16px 24px;
  font-size: 24px;

  @include media("tablet") {
    padding: 16px 48px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__items {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      padding-top: 16px;
      gap: 8px;

      @include media("tablet") {
        flex-direction: row;
        padding-top: 0;
        gap: 24px;
        align-items: center;
      }

      &__item {
        color: $gray;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }

      &__button {
        color: $black;
        background: $white;
        margin-top: 16px;
        padding: 8px 16px;
        border-radius: 5px;
        text-align: center;
        width: max-content;
        font-size: 14px;
        font-weight: bold;

        @include media("tablet") {
          margin-top: 0;
        }
      }
    }
  }
}
