@import "../../styles.scss";



.footer {
  display: flex;
  flex-direction: column;
  color: $white;
  background: $dark-blue;
  padding: 16px 24px;
  font-size: 18px;
  gap: 8px;
  justify-items: center;;
  gap: 12px;

  @include media("tablet") {
    padding: 8px 32px;
    height: auto;
    gap: 16px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: $gray;
    gap: 2px;
    justify-content: center;

    @include media("mobile") {
      flex-direction: row;
      gap: 24px;
    }

    @include media("tablet") {
      gap: 24px;
    }

    &__link {
      text-align: center;
    }
  }

  &__legal {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;

      &__link {
        text-align: center;
        text-decoration: none;
        color: $white;
        font-size: 16px;
        line-height: 26px;
        font-family: $lora;

        &:hover {
          color: $gray;
        }
      }
    }

    &__company {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__copyright {
        font-size: 16px;
        color: $white;
        font-size: 18px;
        line-height: 26px;
        font-family: $poppins;
      }
    }
  }

  //   &__company {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //   }
}
