@import "../../styles.scss";

.my-account {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    justify-content: center;
    height: 100px;
    background: $dark-blue;

    @include media("tablet") {
      height: 140px;
    }

    @include media("desktop-wide") {
      height: 160px;
    }

    &__profile-pic {
      position: relative;
      bottom: -40px;
      height: 80px;
      width: 80px;

      background: url("https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=150&q=100");
      background-repeat: no-repeat;
      background-size: cover;
      border: 5px solid #ffffff;
      border-radius: 100%;


      @include media("tablet") {
        height: 100px;
        width: 100px;
        bottom: -60px;
      }

      @include media("desktop-wide") {
        bottom: -80px;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: 40px 24px;
    gap: 12px;

    @include media("tablet") {
      flex-direction: row;
    }




    &__personal-information {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      height: min-content;
      padding: 16px;

      &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;

        &__title {
          font-weight: 700;
          font-size: 16px;
          line-height: 33px;
          color: $black;
          font-family: $poppins;
        }

        &__edit {
          font-size: 12px;
          line-height: 22px;
          color: $gray;
          font-family: $poppins;
        }
      }

      &__data {
        padding: 0 8px;
        display: flex;
        flex-direction: row;
        font-family: $poppins;
        font-size: 12px;
        line-height: 24px;
        gap: 4px;
        color: $black;

        &__title {
          font-weight: 600;
        }

        &__value {
          color: $gray-dark;
        }
      }

      &__change-pwd {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        line-height: 24px;
        gap: 4px;
        padding-left: 8px;
        color: $gray;
        padding: 8px 0 12px 8px;
      }

      &__delete-user {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        line-height: 12px;
        gap: 4px;
        padding-left: 8px;
        padding-top: 24px;
        color: $red;
      }


    }

    &__books {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      padding: 16px;

      &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4px;

        &__title {
          font-weight: 700;
          font-size: 16px;
          line-height: 33px;
          color: $black;
          font-family: $poppins;
        }

        &__add-book {
          font-size: 12px;
          line-height: 22px;
          color: $gray;
          font-family: $poppins;
        }
      }

      &__subtitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 33px;
        color: $gray-dark;
        font-family: $poppins;
        padding: 0 8px;
      }

      &__list {
        display: flex;
        flex-direction: column;

        // @include media("tablet") {
        //   display: grid;
        //   grid-template-columns: repeat(2, minmax(0, 1fr));
        //   grid-gap: 16px;
        // }

        @include media("desktop") {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        &__book {
          display: flex;
          flex-direction: row;
          gap: 8px;
          border-bottom: 1px solid $ligth-gray;
          padding: 12px 8px 0 8px;

          @include media("tablet") {
            border-bottom: 0;
          }

          &:last-child {
            border-bottom: 0;
          }

          &__delete {
            position: relative;
            top: 0px;
            color: $red;
          }

          &__image {
            width: 60px;
            height: 85px;
          }

          &__content {
            display: flex;
            flex-direction: column;
            flex: 1;

            &__status {
              font-size: 12px;
              line-height: 22px;
              font-family: $poppins;
              &--pending {
                color: $yellow-dark;
              }

              &--read {
                color: green;
              }

              &--hide {
                color: $gray;
              }
            }

            &__title {
              font-weight: 600;
              font-size: 12px;
              line-height: 22px;
              color: $black;
              font-family: $poppins;
            }

            &__author {
              font-size: 12px;
              line-height: 16px;
              color: $gray;
              font-family: $poppins;
            }

            &__status {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              font-family: $poppins;

              &--pending {
                color: $yellow-dark;
              }

              &--read {
                color: green;
              }
            }

            &__actions {
              position: relative;
              left: 24px;
              display: flex;
              flex-direction: row;
              gap: 8px;
              justify-content: flex-end;
              font-size: 12px;
              line-height: 22px;
              padding-top: 8px;
              padding-bottom: 12px;

              font-family: $poppins;

              button {
                color: $white;
                border: 0;
                border-radius: 6px;
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
                  0 4px 6px -2px rgb(0 0 0 / 5%);
                padding: 4px 12px;
              }

              &__hide {
                background: $gray;
              }

              &__read {
                background: green;
              }

              &__visible {
                background-color: $blue;
              }

              &__pending {
                background-color: $yellow;
              }
            }
          }
        }
      }
    }

    &__stats {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        &__title {
          font-weight: 700;
          font-size: 18px;
          line-height: 33px;
          color: $black;
          font-family: $poppins;
        }
      }
    }
  }
}
