$black: #1c1c1c;
$ligth-white: #f5f5f5;
$ligth-gray: #DEDEDE;
$gray: #9b9b9b;
$gray-dark: #656464;
$white: #fff;


$light-blue: #80ACFF;
$blue: #217BF4;
$dark-blue: #4264A3;
$yellow: #F0C260;
$yellow-dark: #A37A21;
$light-red: #feecef;
$red: #f3224c;
$red-dark: #a40928;
$green: #009c5c;
