@import "../../styles.scss";

.book {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-bottom: 1px solid $ligth-gray;
    padding: 12px 8px 0 8px;

    @include media("desktop") {
      border-bottom: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    &__delete {
      position: relative;
      top: 0px;
      color: $red;
      cursor: pointer;
    }

    &__image {
      width: 60px;
      height: 85px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;

      &__status {
        font-size: 12px;
        line-height: 22px;
        font-family: $poppins;
        &--pending {
          color: $yellow-dark;
        }

        &--read {
          color: $green;
        }

        &--hide {
          color: $gray;
        }
      }

      &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        color: $black;
        font-family: $poppins;
        text-transform: capitalize;
      }

      &__author {
        font-size: 12px;
        line-height: 16px;
        color: $gray;
        font-family: $poppins;
        text-transform: capitalize;
      }

      &__status {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        font-family: $poppins;

        &--pending {
          color: $yellow-dark;
        }

        &--read {
          color: $green;
        }
      }

      &__actions {
        position: relative;
        left: 24px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: flex-end;
        font-size: 12px;
        line-height: 22px;
        padding-top: 8px;
        padding-bottom: 12px;

        font-family: $poppins;

        button {
          color: $white;
          border: 0;
          border-radius: 6px;
          box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
            0 4px 6px -2px rgb(0 0 0 / 5%);
          padding: 4px 12px;
          cursor: pointer;
        }

        &__trade {
          background: $yellow-dark;
        }

        &__hide {
          background: $gray;
        }

        &__read {
          background: $green;
        }

        &__visible {
          background-color: $blue;
        }

        &__pending {
          background-color: $yellow;
        }
      }
    }
  }